.preview-container {
    margin: auto;
    text-align: center;
    max-width: 800px;
    padding: 0 20px;
    clear: both;
}


.preview-container > h1 {
    padding: 50px 0;
}

.preview-container img {
    max-width: 300px;
    margin: 10px 0;
    border: 3px solid #bfa888;
}

caption {
    min-width: 500px;
}

.twitter-follow-button {
    height: 20px;
    text-decoration: none;
    box-sizing: border-box;
    padding: .3em 1em;
    background-color: #1d9bf0;
    color: #fff;
    border-radius: 9999px;
    font-weight: 400;
    cursor: pointer;
}
.preview-container > p:last-of-type {
    margin-bottom: 4em;
}
